.time-button {
    background-color: rgb(98, 167, 149);
    border-style: none;
    cursor: pointer;
}

.pauseButton {
    background-color: var(--primary-color);
    border-style: none;
    cursor: pointer;
    width: 140px;
    font-size: 16px;
}

#timer {
    background-color: rgb(223, 226, 226);
    font-size: 32px;
    font-family: monospace;
    color: rgb(140, 140, 140);
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(140, 140, 140);
    width: auto;
    margin: auto;
    padding: 1rem;
}

@media (max-width: 768px) {
    .button-wrapper {
        flex-direction: column;
    }
}

.button-wrapper {
    display: flex;
}

.navWrapper {
    display: flex;
}